body {
    font-family: Helvetica;
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a {
    color: darkorange;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: darkslateblue;
    border-style: double;
    border-width: 10px;
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid white;
    width: 20%;
    margin: 10px 0;
    height: 250px;
}