body {
    font-family: Helvetica;
    background-color: midnightblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

a {
    color: white;
}

.card a {
    position: relative;
    margin: auto;
    display: block;
    text-align: center;
    visibility: hidden;
    top: 115px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: darkslateblue;
    border-style: double;
    border-width: 10px;
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid white;
    width: 20%;
    margin: 10px 0;
    height: 250px;
    background-size: cover;
    background-position: center top;
}

#dasmoto {
    background-image: url("./assets/dasmoto.png");
}

#excursion {
    background-image: url("./assets/excursion.png");
}

#web {
    background-image: url("./assets/web.png");
}

#tea {
    background-image: url("./assets/tea.png");
}

#company {
    background-image: url("./assets/company.png");
}

#club {
    background-image: url("./assets/club.png");
}

#dasmoto, #web {
    background-position: top left;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -10;
    position: relative;
}
